@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@keyframes fade-out {
  from {
    opacity: 0.75; }
  to {
    opacity: 0; } }

@keyframes blur-out {
  from {
    filter: blur(20px); }
  to {
    filter: blur(0px); } }

.input--no-outline {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #eee;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

section > ul {
  width: 40rem;
  display: inline-block;
  margin: 0;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.current-results-last-searches-toggler__toggle {
  padding: 0.2rem 0.6rem;
  transition: background-color 0.1s ease-in-out; }
  .current-results-last-searches-toggler__toggle.active {
    background-color: orange;
    border-radius: 0.8rem; }

/*.search-section*/
.search-section {
  width: 100%;
  background-color: #e0e0e0;
  height: 50vh; }
  @media screen and (min-width: 376px) {
    .search-section {
      width: 30rem;
      height: inherit; } }

.search-section > div {
  padding: 1rem 2rem; }

.search-control {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4; }

.search-control__string {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid #dfdfdf;
  padding: 0.4rem 1rem;
  color: #444;
  transition: border-color 0.2s ease-in-out; }
  .search-control__string:focus {
    border-color: #bbb; }

.search-control__button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 1.8rem;
  padding: 0.8rem 2rem;
  color: #666;
  font-weight: 400;
  border: 1px solid #dfdfdf;
  font-size: 1.2rem;
  transition: border-color 0.2s ease-in-out; }
  .search-control__button:active {
    border-color: #bbb; }

.data-toggler-and-display-wrp {
  height: calc(100% - 10rem); }

.current-results-last-searches-toggler {
  height: 3rem; }
  @media screen and (min-width: 376px) {
    .current-results-last-searches-toggler {
      height: auto; } }

.current-results-last-searches-toggler > li {
  float: left;
  display: inline-block;
  margin-right: 0.8rem; }

.paginate-strip {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ccc; }

/*end of .player-section*/
/*.player-section*/
.player-section {
  width: 100%;
  height: calc(50vh - 16.6rem); }
  @media screen and (min-width: 376px) {
    .player-section {
      width: calc(80rem - 30rem);
      height: inherit; } }

.play-chosen {
  height: 100%;
  width: inherit; }
  .play-chosen:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-image: url(../assets/img/play-solid.svg);
    background-position: 1.7rem;
    transition: all 0.15s ease-in-out;
    background-size: 1rem;
    pointer-events: none;
    border-radius: 0rem;
    width: 4rem;
    height: 4rem;
    bottom: 50%;
    right: 50%;
    opacity: 0;
    transform: translate(50%, 50%) scale(3); }
    @media screen and (min-width: 376px) {
      .play-chosen:after {
        width: 4rem;
        height: 4rem;
        bottom: 0rem;
        right: 0rem;
        background-position: 1.7rem;
        background-size: 1rem;
        transform: none; } }
  .play-chosen.loaded-item {
    cursor: pointer; }
    .play-chosen.loaded-item:after {
      opacity: 1; }
    .play-chosen.loaded-item:hover:after, .play-chosen.loaded-item:active:after {
      opacity: .9;
      background-size: 1.4rem;
      background-position: 1.5rem; }

.play-chosen__link {
  width: inherit;
  height: 100%; }

#image-holder:after {
  content: '';
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 25%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  opacity: .5; }

#image-holder:hover:after {
  opacity: .65; }

.play-chosen__image-crop {
  width: inherit;
  height: inherit;
  position: relative;
  overflow-x: hidden; }

.play-chosen__image-display {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%; }
  .play-chosen__image-display.landscape-like {
    width: 100%;
    height: auto; }
  .play-chosen__image-display.portrait-like {
    width: auto;
    height: 100%; }

/*end of .search-section*/
.soundcloud-strip {
  position: fixed;
  height: 16.6rem;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: calc(-1 * 16.6rem);
  transition: bottom 0.2s ease-in-out; }
  .soundcloud-strip.soundcloud-strip--loaded-item {
    bottom: 0; }

#data_display, #search_display {
  display: none;
  padding: 1.2rem 0;
  overflow-y: auto;
  overflow-y: auto;
  max-height: calc(100% - 3rem); }
  #data_display.displayed, #search_display.displayed {
    display: block; }
  @media screen and (min-width: 376px) {
    #data_display, #search_display {
      max-height: 36rem; } }
  #data_display li, #search_display li {
    font-size: 1.4rem;
    padding: 1.2rem 0;
    display: block;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    color: #666; }
    #data_display li:last-child, #search_display li:last-child {
      border-bottom: none; }

.search-input-wrap {
  position: relative; }

#input_message {
  display: block;
  position: absolute;
  bottom: -1.4rem;
  left: 1rem;
  font-size: 0.9rem;
  color: #444; }
  #input_message[visible="false"] {
    display: none; }

.animated-cloned-element {
  z-index: 3;
  opacity: 0.75;
  color: #888;
  transition: all 0.5s ease-out;
  animation-name: fade-out;
  animation-timing-function: ease-in;
  animation-duration: .15s; }

.animate-img-entrance {
  filter: blur(0px);
  animation-name: blur-out;
  animation-timing-function: ease-out;
  animation-duration: .75s; }

#play_pause_toggle_button {
  font-size: 4em;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 16.6rem;
  text-align: right;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 0.25s ease-in-out; }
  #play_pause_toggle_button[active="false"] {
    opacity: 0; }
  #play_pause_toggle_button[active="true"] {
    opacity: 1; }
  #play_pause_toggle_button:after {
    content: attr(data-current-action); }

#main {
  max-width: 80rem;
  margin: 2rem auto 0 auto; }

#search-with-toggle-strip {
  margin-bottom: 1rem; }

.waveform-bkg {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; }

#lastSearched {
  display: inline-block; }

#items-holder {
  position: relative;
  display: inline-block;
  width: 36rem;
  height: 40rem;
  overflow-y: auto; }

#track-dispatcher {
  position: relative;
  display: inline-block;
  width: 40rem;
  height: 40rem;
  float: right;
  overflow: hidden; }

.img-wrap {
  width: inherit;
  height: inherit; }

.img-wrap > h2 {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 12px; }

.img-wrap > h2:empty {
  display: none; }

img.img-dispatcher {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

li.selected {
  color: orange; }

#searchResults, #lastSearched {
  display: none; }
  #searchResults.active, #lastSearched.active {
    display: inline-block; }
  #searchResults > li, #lastSearched > li {
    position: relative;
    height: 4rem;
    margin-bottom: 2rem;
    cursor: pointer; }
    #searchResults > li span.data-display__link, #lastSearched > li span.data-display__link {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.6rem; }

#soundcloud-strip {
  position: fixed;
  height: 16.6rem;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 0; }

#input-container, #toggleSearchResultsViews {
  max-width: 40rem;
  display: inline-block; }

#toggleSearchResultsViews {
  float: right; }
  #toggleSearchResultsViews > li {
    display: inline-block;
    margin-right: 0.6rem; }
