<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>soundcloudApi backbone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<ul id="searchResults"></ul>
<ul id="lastSearched"></ul>
<section id="track-dispatcher"></section>
<section id="track-player"></section>
<main id="main">

</main>
<div id="soundcloud-strip">

</div>
<script type="text/html" id="vehicleTemplate">
    <%= track-id %>
    <button class="delete">Delete</button>

</script>
<script type="text/html" id="searchResultTemplate">
    <li class="data-display__result" track-id="qwe" >
        <span class="data-display__link"><%= title %></span>
     </li>
</script>

<script src="js/lib/require.js" data-main="js/main"></script>
</body>
</html>
