
*, *:before, *:after{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $body-bgc;
  margin: 0;
  font-family: $main-font-family;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // outline: 1px dashed red;
}

/*end of .search-section*/



.search-input-wrap {
  position: relative;
}
#input_message{
  display: block;
  position: absolute;
  bottom: -1.4rem;
  left: 1rem;
  font-size: 0.9rem;
  color: #444;
  &[visible="false"]{
    display: none;
  }
}

.animated-cloned-element{
  z-index: 3;
  opacity: 0.75;
  color: #888;
  transition: all 0.5s ease-out;
  animation-name: fade-out;
  animation-timing-function: ease-in;
  animation-duration: .15s;
}

.animate-img-entrance{
  filter: blur(0px);
  animation-name: blur-out;
  animation-timing-function: ease-out;
  animation-duration: .75s;
}

// tmp styles

#main{
  //outline: 4px dashed blue;
  margin: 0;
  width: 100%;
  height: calc(100vh - #{map-get($soundcloud-strip-height,mobile)});
  position: fixed;
  @include respond-to(min-mobile){
    position: relative;
    height: auto;
    margin: 2rem auto 0 auto;
    width: auto;
    max-width: 80rem;
  }
}

#search-with-toggle-strip{
  position: fixed;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include respond-to(min-mobile){
    position: relative;
    flex-direction: row;
  }
  &>*{
    height: map-get($search-and-toggle-height,mobile);
    @include respond-to(min-mobile){
      height: map-get($search-and-toggle-height,desktop);
    }
  }
}

.waveform-bkg {
  height: 100%;
  max-width: 36rem;
  background-color: #e4e4e4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#track-dispatcher, #search_lists{
  position: relative;
  display: inline-block;
  //outline: 4px dashed yellow;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  @include respond-to(min-mobile){
    width: 40rem;
  }
}

#track-dispatcher{
  height: map-get($track-dispatcher-height,mobile);
  position: fixed;
  bottom: map-get($soundcloud-strip-height,mobile);
  @include respond-to(min-mobile){
    position: relative;
    bottom: auto;
    height: map-get($track-dispatcher-height,desktop);
  }
}

.img-wrap {
  width: inherit;
  height: inherit;
}

.img-wrap > h2 {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  color: #ddd;
  background-color: rgba(0,0,0,0.6);
  padding: 4px 12px;
}

.img-wrap > h2:empty {
  display: none;
}

img.img-dispatcher{
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

li.selected{
  color: orange;
}

.search-results.container {
  padding-right: 0;
  max-height: 100%;
  overflow-y: auto;
  @include respond-to(min-mobile){
    padding-right: 4rem;
  }
}

.search-lists{
  top: calc(#{map-get($search-and-toggle-height,mobile)} * 2);
  @include respond-to(min-mobile){
    top: auto;
  }
}

.search-results__items, .last-searched__items{
  display: none;
  width: 100%;
  &.active{
    display: inline-block;
  }
  &>li{
    font-size: 1.2rem;
    position: relative;
    height: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: $list-text-color;
    span.data-display__link{
      pointer-events: none;
      position: relative;
      left: 1.6rem;
      max-width: calc(100% - 6rem);
    }
  }
}

.data-display__result{
  &:hover{
    color: lighten($list-text-color,30%);
   .track-image{
     background-size: auto 110%;
   }
  }
}

.soundcloud.container{
  position: fixed;
  width: 100%;
  height: map-get($soundcloud-strip-height,mobile);
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 0;
  z-index: 3;
  @include respond-to(min-mobile){
    height: map-get($soundcloud-strip-height,desktop);
  }
}



.toggle-results{
  &__item{
    display: inline-block;
    margin-right: 0.6rem;
  }
}

.next-results.container{
  display: block;
  //outline: 4px dashed yellow;
  padding: 1rem 0 0 0;

  height: map-get($next-results-height,mobile);
  @include respond-to(min-mobile){
    height: map-get($next-results-height,desktop);
  }
}

.next-results__button{
  cursor: pointer;
  &--inactive{
    pointer-events: none;
    opacity: 0.5;
  }
  &--active{

  }
}
#lastSearched > li {
  border-bottom: 1px solid #ccc;
  height: 6rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span.data-display__link{
    left: 0;
  }
}

#searchResults:empty{
  height: 400px;
  &:after{
    content: 'Search results here...'
  }
}

.track-image{
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
  background-size: auto 100%;
  filter: drop-shadow(0px 2px 1px #777);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.1s ease-out;
}