
*, *:before, *:after{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $body-bgc;
  margin: 0;
  font-family: $main-font-family;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

main{
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - #{$sc-iframe-height});
  margin: 0 auto;
  flex-direction: column;

  @media screen and (min-width: $moblie-min-bp){
    flex-direction: row;
    width: $main-width;
    height: 50rem;
  }
}

section {
  //outline: 1px dashed #ddd; /*tmp*/
  width: 40rem;
  display: inline-block;
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // outline: 1px dashed red;
}

.current-results-last-searches-toggler__toggle{
  padding: 0.2rem 0.6rem;
  transition: background-color 0.1s ease-in-out;
  &.active{
    background-color: orange;
    border-radius:  0.8rem;
  }
}

/*.search-section*/
.search-section {
  width: 100%;
  background-color: $search-section-bkg-color;
  height: 50vh;
  @media screen and (min-width: $moblie-min-bp){
    width: $search-section-width;
    height: inherit;
  }
}
// intended for all direct children of search-section
.search-section > div{
  padding: 1rem 2rem;

}
.data-toggler-and-display-wrp{
}
.search-control {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $search-control-bkg-color;
}
.search-control__string {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid $input-border-color;
  padding: 0.4rem 1rem;
  color: #444;
  transition: border-color 0.2s ease-in-out;
  &:focus{
    border-color: $input-highlight-border-color;
  }
}

.search-control__button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 1.8rem;
  padding: 0.8rem 2rem;
  color: $list-text-color;
  font-weight: 400;
  border: 1px solid $input-border-color;
  font-size: 1.2rem;
  transition: border-color 0.2s ease-in-out;
  &:active{
    border-color: $input-highlight-border-color;
  }
}
.data-toggler-and-display-wrp {
  height: calc(100% - 10rem);
}
.current-results-last-searches-toggler{
  height: 3rem;
  @media screen and (min-width: $moblie-min-bp){
    height: auto;
  }
}
.current-results-last-searches-toggler > li {
  float: left;
  display: inline-block;
  margin-right: 0.8rem;
}

.paginate-strip {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $paginate-strip-bkg-color;
}
/*end of .player-section*/



/*.player-section*/
.player-section{
  width: 100%;
  height: calc(50vh - #{$sc-iframe-height});
  @media screen and (min-width: $moblie-min-bp){
    width: $player-section-width;
    height: inherit;
  }
}
.play-chosen{
  height: 100%;
  width: inherit;
  &:after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-image: url(../assets/img/play-solid.svg);
    background-position: 1.7rem;
    transition: all 0.15s ease-in-out;
    background-size: 1rem;
    pointer-events: none;
    border-radius: 0rem;
    width: 4rem;
    height: 4rem;
    bottom: 50%;
    right: 50%;
    opacity: 0;
    transform: translate(50%,50%) scale(3);
    @media screen and (min-width: $moblie-min-bp){
      width: 4rem;
      height: 4rem;
      bottom: 0rem;
      right: 0rem;
      background-position: 1.7rem;
      background-size: 1rem;
      transform: none;
    }
  }
  &.loaded-item{
    cursor: pointer;
    &:after{
      opacity: 1;
    }
    &:hover,&:active{
      &:after{
        opacity: .9;
        background-size: 1.4rem;
        background-position: 1.5rem;
      }
    }
  }
}
.play-chosen__link{
  width: inherit;
  height: 100%;
}
#image-holder{
  &:after{
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 25%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: opacity 0.35s ease-in-out;
    opacity: .5;
  }
  &:hover{
    &:after{
      opacity: .65;
    }
  }
}
.play-chosen__image-crop{
  width: inherit;
  height: inherit;
  position: relative;
  overflow-x: hidden;
}
.play-chosen__image-display{
  width: auto;
  //height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  &.landscape-like{
    width: 100%;
    height: auto;
  }
  &.portrait-like{
    width: auto;
    height: 100%;
  }
}
/*end of .search-section*/

// todo: remove previous class
.soundcloud-strip {
  position: fixed;
  height: $soundcloud-strip-height;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: calc(-1 * #{$sc-iframe-height});
  transition: bottom 0.2s ease-in-out;
  &.soundcloud-strip--loaded-item{
    bottom: 0;
  }
}
#data_display,#search_display{
  display: none;
  padding: 1.2rem 0;
  overflow-y: auto;
  overflow-y: auto;
  max-height: calc(100% - 3rem);
  &.displayed{
    display: block;
  }
  @media screen and (min-width: $moblie-min-bp){
    max-height: 36rem;
  }
  li {
    font-size: 1.4rem;
    padding: 1.2rem 0;
    display: block;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    color: $list-text-color;
    &:last-child{
      border-bottom: none;
    }
  }
}
.search-input-wrap {
  position: relative;
}
#input_message{
  display: block;
  position: absolute;
  bottom: -1.4rem;
  left: 1rem;
  font-size: 0.9rem;
  color: #444;
  &[visible="false"]{
    display: none;
  }
}

.animated-cloned-element{
  z-index: 3;
  opacity: 0.75;
  color: #888;
  transition: all 0.5s ease-out;
  animation-name: fade-out;
  animation-timing-function: ease-in;
  animation-duration: .15s;
}

.animate-img-entrance{
  filter: blur(0px);
  animation-name: blur-out;
  animation-timing-function: ease-out;
  animation-duration: .75s;
}

#play_pause_toggle_button {
  font-size: 4em;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: $soundcloud-strip-height;
  //pointer-events: none;
  text-align: right;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  transition: opacity 0.25s ease-in-out;
  &[active="false"]{
    opacity: 0;
  }
  &[active="true"]{
    opacity: 1;
  }
  &:after {
    content: attr(data-current-action);
  }
}
