
*, *:before, *:after{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $body-bgc;
  margin: 0;
  font-family: $main-font-family;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // outline: 1px dashed red;
}

/*end of .search-section*/

#input-container{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  @include respond-to(min-mobile){
    padding-right: 2rem;
  }
}
.search__input{
  flex-grow: 1;
  border: none;
  outline: none;
  padding-left: 2rem;
  @include respond-to(min-mobile){
    padding-left: 1rem;
    border-radius: 5rem 0 0 5rem;
  }
}
.search__icon{
  color: $default-icon-color;
}
.search__button{
  flex-grow: 0;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 6rem;
  background-color: #aaa;
  color: #fff;
  @include respond-to(min-mobile){
    border-radius: 0 5rem 5rem 0;
  }
}

#toggleSearchResultsViews {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.search-input-wrap {
  position: relative;
}
#input_message{
  display: block;
  position: absolute;
  bottom: -1.4rem;
  left: 1rem;
  font-size: 0.9rem;
  color: $list-text-color;
  &[visible="false"]{
    display: none;
  }
}

.animated-cloned-element{
  z-index: 3;
  opacity: 0.75;
  color: $default-icon-color;
  transition: all 0.5s ease-out;
  animation-name: fade-out;
  animation-timing-function: ease-in;
  animation-duration: .15s;
}

.animate-img-entrance{
  filter: blur(0px);
  animation-name: blur-out;
  animation-timing-function: ease-out;
  animation-duration: .75s;
}

// tmp styles

#main{
  //outline: 4px dashed blue;
  margin: 0;
  width: 100%;
  height: calc(100vh - #{map-get($soundcloud-strip-height,mobile)});
  position: map-deep-get($main, position, mobile);
  max-width: map-deep-get($main, max-width, mobile);
  @include respond-to(min-mobile){
    position: map-deep-get($main, position, desktop);
    height: auto;
    margin: 2rem auto 0 auto;
    width: auto;
    max-width: map-deep-get($main, max-width, desktop);
  }
}

#search-with-toggle-strip{
  position: fixed;
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  @include respond-to(min-mobile){
    position: relative;
    flex-direction: row;
  }
  &>*{
    height: map-get($search-and-toggle-height,mobile);
    @include respond-to(min-mobile){
      height: map-get($search-and-toggle-height,desktop);
    }
  }
}

.waveform-bkg {
  height: 100%;
  width: calc(100% - 2rem);
  left: 1rem;
  background-color: $waveform-color;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include respond-to(min-mobile){
    left: 0;
    width: calc(100% - 1rem);
  }
}



#track-dispatcher, #search_lists{
  position: relative;
  display: inline-block;
  //outline: 4px dashed yellow;
  width: 100%;
  overflow: hidden;
  @include respond-to(min-mobile){
    width: 40rem;
  }
}

#track-dispatcher{
  height: map-get($track-dispatcher-height,mobile);
  position: fixed;
  bottom: map-get($soundcloud-strip-height,mobile);
  @include respond-to(min-mobile){
    position: relative;
    bottom: auto;
    height: map-get($track-dispatcher-height,desktop);
    float: right;
  }
}

.img-wrap {
  width: inherit;
  height: inherit;
}

.img-wrap > h2 {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  color: #ddd;
  background-color: rgba(0,0,0,0.6);
  padding: 4px 12px;
  pointer-events: none;
  font-size: 1.2rem;
  @include respond-to(min-mobile){
    font-size: 1.4rem;
  }
}

.img-wrap > h2:empty {
  display: none;
}

img.img-dispatcher{
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

li.selected{
  color: orange;
}

.search-results.container {
  padding-right: 0;
  max-height: 100%;
  overflow-y: auto;
  @include respond-to(min-mobile){
    //padding-right: 4rem;
  }
}

.search-lists{
  top: calc(#{map-get($search-and-toggle-height,mobile)} * 2);
  height: map-get($search-lists-height,mobile);
  @include respond-to(min-mobile){
    top: auto;
    height: map-get($search-lists-height,desktop);
    padding-right: 2rem;
  }
}

.search-results__items, .last-searched__items{
  display: none;
  width: 100%;
  &.active{
    display: inline-block;
  }
  &>li{
    font-size: 1.2rem;
    position: relative;
    height: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: $list-text-color;
    span.data-display__link{
      pointer-events: none;
      position: relative;
      left: 1.6rem;
      max-width: calc(100% - 6rem);
    }
  }
}

.data-display__result{
  &:hover{
    color: lighten($list-text-color,30%);
   .track-image{
     background-size: auto 110%;
   }
  }
}

.soundcloud.container{
  position: fixed;
  width: 100%;
  height: map-get($soundcloud-strip-height,mobile);
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 0;
  z-index: 3;
  @include respond-to(min-mobile){
    height: map-get($soundcloud-strip-height,desktop);
  }
}

.toggle-results{
  &__item{
    display: inline-block;
    margin-right: 0.6rem;
  }
}

.next-results.container{
  border-bottom: 1px solid $results-border;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: map-get($track-dispatcher-height,mobile);
  width: 100%;
  height: map-get($next-results-height,mobile);
  @include respond-to(min-mobile){
    position: relative;
    bottom: 0;
    padding: 3rem 0;
    height: 2rem;
    height: map-get($next-results-height,desktop);
  }
}

.next-results{
  &__button{
    cursor: pointer;
    border-radius: 0;
    //outline: 4px dashed red;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    color: #777;
    transition: color 0.1s ease-out;
    padding-right: 1rem;
    font-size: 1.2rem;
    @include respond-to(min-mobile){
      justify-content: flex-start;
      padding-right: 0;
      padding-left: 1rem;
    }
    &--inactive{
      pointer-events: none;
      opacity: 0.5;
    }
    &--active{
      &:hover{
        .next-results__icon{
          color: #494949;
        }
        .next-results__text{
          color: #494949;
        }
      }
      &:active{

      }
    }
  }
  &__icon{
    color: #777;
    margin-left: 0.6rem;
    width: 3.4rem;
  }
  &__text{
    color: #777;
  }
}
#lastSearched > li {
  border-bottom: 1px solid #ddd;
  height: 6rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span.data-display__link{
    left: 0;
  }
}

#searchResults:empty{
  height: 400px;
  &:before{
    content: '';
    background: repeating-linear-gradient(180deg, #e4e4e4 0, #e4e4e4 4rem, transparent 4rem, transparent 6rem);
    height: 100%;
    position: absolute;
    width: 100%;
    animation: 1s toggleOpacity ease-in-out infinite alternate;

    @include respond-to(min-mobile){
      width: calc(100% - 2rem);
    }
  }
  &:after{
    //content: '';
    background: repeating-linear-gradient(135deg, #ffffff00 0, #ffffff55 5%, #ffffff55 10%, #ffffff00 15%, #ffffff00 20%);
    animation: 4.5s moveSideways ease-in-out infinite alternate;
    height: 100%;
    width: 150%;
    position: absolute;
  }
}

.track-image{
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
  background-size: auto 100%;
  filter: drop-shadow(0px 2px 1px #777);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.1s ease-out;
}

.icon{
  width: 5rem;
  height: 100%;
}

.svg-el-icon{
  width: 2em;
  height: 2em;
}