
$soundcloud-strip-height: (
    desktop: 16.6rem,
    mobile: 16.6rem
);

$search-and-toggle-height: (
    desktop: 3rem,
    mobile: 4rem
);

$next-results-height: (
        desktop: 2rem,
        mobile: 4rem
);

$track-dispatcher-height: (
        desktop: 40rem,
        mobile: 6rem
);

$search-lists-height: (
    desktop: 40rem,
    mobile: calc(100% - (#{map-get($search-and-toggle-height,mobile)} * 2) - #{map-get($track-dispatcher-height,mobile)} - #{map-get($next-results-height,mobile)})
);

$main: (
        max-width: (
                desktop: 80rem,
                mobile: 100%
        ),
        position: (
                desktop: relative,
                mobile: fixed
        ),
);

$body-bgc: #eee;
$main-font-family: 'Open Sans', sans-serif;
$main-width: 80rem;
$search-section-width: 30rem;
$player-section-width: calc(#{$main-width} - #{$search-section-width});
$paginate-strip-bkg-color: #ccc;

$sc-iframe-height: 16.6rem;

$list-text-color: #444;
$waveform-color: #e4e4e4;
$results-border: #ccc;
$default-icon-color: #777;
$input-border-color: #dfdfdf;
$input-highlight-border-color: #bbb;
